body {
    background-color: #000;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 60px;
    color: blue;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 10px 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Define um limite para o container */
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.quadrado {
    position: absolute;
    top: 0;
    width: 1450px;
    height: 450px; /* Altura ajustável */
    background-color: #2d2d30;
    border-radius: 15px;
    z-index: 1; /* O quadrado está no fundo */
    margin-top: 180px;
}

.movie-gallery {
    display: flex;
    justify-content: center;
    gap: 150px;
    z-index: 2; /* As imagens estão na frente do quadrado */
    position: relative;
    margin-top: 50px; /* Ajustar para centralizar as imagens dentro do quadrado */
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 3; /* As imagens estão na frente de tudo */
}
